<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <main>
        <div class="dashboard-box">
            <aside class="sidebar">
                <div class="logo">
                    <img src="/public/images/logo.png" alt="Logo">
                    <h4>CMASTER Admin</h4>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </aside>
            <section class="main-content">
                <header>
                    <h2>Welcome, Admin!</h2>
                </header>
                <div class="content">
                    <div class="admin-action">
                        <h3>Manage Professionals</h3>
                        <button onclick="location.href='/manageprofessionals'">Manage Professionals</button>
                    </div>
                    <div class="admin-action">
                        <h3>Manage User Request</h3>
                        <button onclick="location.href='/managerequest'">Manage User Reuqest</button>
                    </div>
                    <div class="admin-action">
                        <h3>Manage Services</h3>
                        <button onclick="location.href='/manageservices'">Manage Services</button>
                    </div>
                  </div>
            </section>
        </div>
    </main>
    <script>
       
    </script>
</body>
</html>
